body {
    margin: 0;
    height: 100vh;
    padding-top: 5%;
    font-size: 1em;
}

.chip {
    background-color: #efefef;
    color: #b7b7b7;
    font-weight: bold;
    transition-property: color, background-color;
    transition: 1s;
}

.chip:hover {
    background-color: #818181;
    color: #dde3df;
}

form {
    border: 2px solid #efefef;
}

#form-header {
    background-color: #efefef;
    color: #9e9e9e;
}

#form-header div:first-child {
    font-size: 1.5em;
    font-weight: bold;
}

#form-header div:last-child {
    font-style: italic;
    color: #c4a26e;
}

#form-body {
    padding: 1em 3em;
}

.input-field, .range-field {
    margin: 2em 0;
}